In [1]:
import dvc.api

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from IPython.display import Image

In [11]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
path = '../data/nb.csv'
repo = 'https://github.com/tibarekb/causal-inference'
version = '9672c124c252d766528799a2a40ddc2cf3e8284b'
data = dvc.api.read(path = path,
                   repo = repo,
                   rev = version)

In [61]:
from io import StringIO
df = pd.read_csv(StringIO(data))

In [5]:
path = '../data/driver.csv'
repo = 'https://github.com/tibarekb/causal-inference'
version = '9672c124c252d766528799a2a40ddc2cf3e8284b'
data = dvc.api.read(path = path,
                   repo = repo,
                   rev = version)

In [62]:
from io import StringIO
driver = pd.read_csv(StringIO(data))

In [12]:
df.columns.tolist()

['Trip ID',
 'Trip Origin',
 'Trip Destination',
 'Trip Start Time',
 'Trip End Time']

In [13]:
df.dtypes

Trip ID              int64
Trip Origin         object
Trip Destination    object
Trip Start Time     object
Trip End Time       object
dtype: object

In [14]:
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Telecommunication dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

The Telecommunication dataset contains 0.06 % missing values.

In [15]:
df.isna().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [17]:
df.skew(axis=0)
# to check the distribution of the data of the whole columns

Trip ID    0.034186
dtype: float64

In [18]:
duplicated_entries = df[df.duplicated()]
duplicated_entries.shape

(0, 5)

In [22]:
df['Trip Start Time'] = df['Trip Start Time'].fillna(df['Trip Start Time'].mode()[0])
df['Trip End Time'] = df['Trip End Time'].fillna(df['Trip End Time'].mode()[0])

In [23]:
df.isna().sum()

Trip ID             0
Trip Origin         0
Trip Destination    0
Trip Start Time     0
Trip End Time       0
dtype: int64

In [25]:
driver.columns.tolist()

['id',
 'order_id',
 'driver_id',
 'driver_action',
 'lat',
 'lng',
 'created_at',
 'updated_at']

In [26]:
driver.dtypes

id                 int64
order_id           int64
driver_id          int64
driver_action     object
lat              float64
lng              float64
created_at       float64
updated_at       float64
dtype: object

In [30]:
percent_missing(driver)

The Telecommunication dataset contains 25.0 % missing values.

In [28]:
driver.isna().sum()

id                     0
order_id               0
driver_id              0
driver_action          0
lat                    0
lng                    0
created_at       1557740
updated_at       1557740
dtype: int64

In [51]:
driver.skew(axis=0)

id           -3.755038e-15
order_id     -5.376272e-02
driver_id    -2.194723e+00
lat          -2.476377e-01
lng           2.026092e+00
created_at             NaN
updated_at             NaN
dtype: float64

In [49]:
driver.isna().sum()

id                     0
order_id               0
driver_id              0
driver_action          0
lat                    0
lng                    0
created_at       1557740
updated_at       1557740
dtype: int64

In [55]:
driver= driver.drop(
    ['created_at' ,             
     'updated_at' ,         
    ], axis=1)

In [56]:
driver.head()

   id  order_id  driver_id driver_action       lat       lng
0   1    392001     243828      accepted  6.602207  3.270465
1   2    392001     243588      rejected  6.592097  3.287445
2   3    392001     243830      rejected  6.596133  3.281784
3   4    392001     243539      rejected  6.596142  3.280526
4   5    392001     171653      rejected  6.609232  3.288800

In [57]:
df1 = driver.merge(df,how = 'inner', left_on = 'order_id', right_on = 'Trip ID')

In [58]:
df1.head()

,id,order_id,driver_id,driver_action,lat,lng,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,1,392001,243828,accepted,6.602207,3.270465,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
1,2,392001,243588,rejected,6.592097,3.287445,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
2,3,392001,243830,rejected,6.596133,3.281784,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
3,4,392001,243539,rejected,6.596142,3.280526,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
4,5,392001,171653,rejected,6.609232,3.288800,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [60]:
df1.to_csv('../data/merged_data.csv')